@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yesteryear&display=swap');

* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(to right, black, rgb(1, 1, 45));
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

header span {
    font-size: 60px;
    color: white;

    font-family: "Yesteryear", cursive;
    font-weight: normal;
    font-style: normal;
}

.hero {
    display: flex;
    max-width: 100%;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 70px;
}

.box-img src {
    display: flex;
    width: 35%;
    height: 600px;
    /* border: 2px solid rgb(0, 255, 51); */
    justify-content: center;
    align-items: center;
}

.box-txt {
    display: flex;
    flex-flow: row wrap;
    width: 45%;
    max-height: 100%;
    /* border: 2px solid rgb(169, 226, 11); */
    justify-content: center;
    align-items: center;
}

.box-txt h3 {
    color: rgb(203, 201, 201);
    letter-spacing: 5px;
    text-transform: uppercase;
}

.box-txt h2 {

    font-family: "DM Sans", sans-serif;
    font-size: 50px;
    color: #007d9c;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 40px;
}

.box-txt p {
    color: rgb(203, 201, 201);
    margin-bottom: 30px;
}

.btn-hero {
    background-color: #007d9c;
    padding: 15px 25px;
    text-decoration: none;
    font-family: "DM Sans";
    color: black;
    border-radius: 5px;
    transition: 0.5s all;
    margin-bottom: 30px;
    font-weight: bold;
}

.btn-hero:hover {
    background: #007d9c;
    font-size: 18px;
}

.box-item {
    width: 30%;
    height: 380px;
    justify-content: center;
    background: #007d9c;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    padding: 30px 20px;
}

.imghero1 {
    display: block;
}

.imghero2 {
    display: none;
}

.box-img:hover .imghero1 {
    display: none;
}

.box-img:hover .imghero2 {
    display: block;

}

section.paralaximg {
    height: 200px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0%;
    background-attachment: fixed;
}

section.paralaximg:nth-of-type(2) {
    background-image: url(/img/img/livros-159866.jpg);
    height: 200px;
    margin-top: 20px;
    margin-right: 0%;
}

.especialidades {
    display: flex;
    margin-top: 40px;
    width: 80%;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    flex-flow: row wrap;
}

.prova-social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 40px;
    width: 80%;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    flex-flow: row;
    margin-bottom: 30px;
}

section h3 {
    color: rgb(203, 201, 201);
    letter-spacing: 5px;
    text-transform: uppercase;
}

.clientes {
    grid-row: auto;
    border: 2px solid rgb(34, 255, 0);
    width: 1fr;
    height: 300px;
    justify-content: center;
    background: #007d9c;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    padding: 30px 20px;
}

.clientes img {
    max-width: 80%;
    border-radius: 100px;
}

.m-top {
    margin-top: 30px;
}

section h2 {
    color: #007d9c;
    font-family: "DM Sans", sans-serif;
    font-size: 50px;
}

section {
    color: white;
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
}

footer {
    background: #007d9c;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: black;
    font-size: 22px;
    display: flex;
}

.whats {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.texmotivador img {
    height: 200px;
    float: left;
    margin: 20px;
}

@media screen and (max-width:1100px) {

    .hero {
        flex-direction: column-reverse;
        max-width: 100%;
    }

    .box-txt {
        width: 100%;
        margin-top: 20px;
        padding: 30px 10px;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        border: 2px solid red;
    }

    .box-txt h2 {
        font-size: 50px;

    }


    .especialidades {
        flex-direction: column;
        align-items: center;
    }

    .box-txt h2 {
        font-size: 60px;
    }

    .box-img {
        margin-top: 50px;
        border: 2px solid rgb(34, 255, 0);
    }

    .responsiva {
        max-width: 100%;
    }

    .box-item {
        width: 90%;
    }

    footer {
        font-size: 18px;
        text-align: center;
        margin-top: 250px;
    }

    .prova-social {
        border: 2px solid red;
        flex-direction: column;
        align-items: center;

    }

    .clientes {

        border: 2px solid rgb(34, 255, 0);

    }



}